.header__wrapper{
    display: flex;
    justify-content: space-between;
}
.header__search{
    padding: 10px 20px 10px 40px;
    border-radius: 20px;
    width: 500px;
}
.bi-search{
    position: absolute;
    top: 9px;
    left: 420px;
}
.header__right{
    display: flex;
    gap: 10px;
    align-items: center;
}
.header__menu{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 600;
}
.nav-items{
    display: flex;
    gap: 50px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.bi-list{
    display: none;
}
.header__img2{
    display: none;
}
@media only screen and (max-width:390px)  {
    .header__item2{
        display: none;
    }
    .header__item3{
        display: none;
    }
    .header__item4{
        display: none;
    }
    .header__search{
        width: 230px;
    }
    .bi-search{
        transform: translate(-310px,3px);
    }
    .bi-list{
        display: inline;
        font-size: 30px;
    }
    .header__logo{
        display: none;
    }
    .header__img2{
        display: block;
    }
    .btn1{
        display: none;
    }
    .usd{
        display: none;
    }
    .header__right{
        display: none;
    }
    .bi-person{
        display: block;
        font-size: 30px;
    }
    .navbar{
        display: none;
    }
}